/* Algemene stijl voor de tabel */
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
}

table td, table th {
    padding: 10px 20px;
}

table thead th {
    background: linear-gradient(to bottom, #8C8C8C 5%, #7D7D7D 100%);
    background-color: #8C8C8C;
    color: #2BAAFF;
    font-size: 13px;
    font-weight: bold;
    border-left: 0 solid #A3A3A3;
}

table thead th:first-child {
    border: none;
}

table tbody td {
    color: #E00707;
    border-left: 4px solid #DBDBDB;
    font-size: 16px;
    border-bottom: 6px solid #E1EEF4;
    font-weight: bold;
}

table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tfoot td div {
    border-top: 1px solid #2BAAFF;
    background: #EBEBEB;
    padding: 2px;
}

table tfoot td {
    padding: 0;
    font-size: 15px;
}

table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

table tfoot li {
    display: inline;
}

table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    background: linear-gradient(to bottom, #8C8C8C 5%, #7D7D7D 100%);
    background-color: #8C8C8C;
}

table tfoot ul.active,
table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none;
    background-color: #8C8C8C;
}

td:nth-of-type(13),
td:nth-of-type(20),
td:nth-of-type(27) {
    background: rgb(200, 190, 240);
}

table tbody tr:nth-child(3) td:nth-child(5) {
    background: rgb(250, 120, 120);
}

th.month {
    background: rgb(170, 170, 200);
}

th.day {
    color: rgb(200, 190, 240);
    background: rgb(35, 37, 70);
}







