h1{
    font-size: 1.8em;
}

h1{
    font-family: "Arial", sans-serif;
}

h2{
    font-size: 1.5em;
}

h2{
    font-family: "Arial", sans-serif;
}

h3{
    font-size: 1.4em;
}

h3{
    font-family: "Arial", sans-serif;
}

p.niveau1,p.niveau2,p.niveau3{
    font-family: "Times New Roman", Serif;
    font-size: 1.2em;
}
.niveau1 {
    color: red;
}
.p-niveau2 {
    color: green;
}
.p-niveau3 {
    color: blue;
}