body{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

header{
    height: 200px;
    background-image: url("../Images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
    position: relative;
    margin-top: 8px;
}

header img{
    position: absolute;
    float: right;
    bottom: 60px;
    right: 90px;
}

header p{
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-size: 240%;
}

header p:first-of-type{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 32px 0;
}

aside{
    width: 25%;
    background: #DDDDDD;
    border: 1px solid #999999;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    color: #666666;
}

aside p{
    margin-right: 10px;
    margin-left: 10px;
}

aside h3{
    color: white;
    background: blue;
    font-size: 120%;
    text-align: center;
}

main{
    width: 75%;
    display: inline-block;
}

.introduction{
    background: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    float: right;
    width: calc(100% - 140px);
}

section {
    overflow: auto;
}

.introduction p {
    margin: 0;
    padding-right: 30px;
}

.introduction span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.introductionlogo{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
}

.gallery{
    background: #999999;
    padding-right: 20px;
}

.gallery img{
    height: 180px;
    width: 180px;
}

.foto {
    border: 1px dotted #999999;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.foto:last-of-type {
    margin-bottom: 20px;
}

.bottom{
    background: #666666;
    color: white;
    line-height: 2em;
}

.bottom div{
    display: inline-block;
    margin-left: 120px;
}

a {
    color: white;
}

a:hover{
    color: red;
}

.copyright{
    text-align: center;
    background: white;
    color: black;
}